* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  letter-spacing: 2px;
}

.App,
.Header {
  text-align: center;
  color: #2979ff;
  font-weight: 800px;

  margin: 0;
}

.App-header {
  background-color: #000000;
  min-height: 80px;
  padding: 20px;
}

.App-title {
  font-size: 4em;
}

.nav {
  display: flex;
  flex-direction: row;
}

ul {
  list-style-type: none;
}
